services:
  neo4j:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ${NEO4J_CONTAINER_NAME:-neo4j-local}
    ports:
      - "7474:7474"
      - "7473:7473"
      - "7687:7687"
    volumes:
      - neo4j_data:/data
      - neo4j_logs:/logs
      - neo4j_import:/import
      - neo4j_plugins:/plugins
    restart: unless-stopped
    environment:
      - NEO4J_AUTH=${NEO4J_AUTH:-neo4j/password}
      - NEO4J_server_directories_import=/import
      - NEO4J_dbms_security_allow__csv__import__from__file__urls=true
      - NEO4J_server_memory_heap_initial__size=512m
      - NEO4J_server_memory_heap_max__size=512m

volumes:
  neo4j_data:
  neo4j_logs:
  neo4j_import:
  neo4j_plugins:
